*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0b0b0b;
}


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}



.container {
    background-color: #21212012;
    backdrop-filter: blur(10px);
    width: auto;
    height: 50px;
    border-radius: 30px;
    display: inline-flex;
    gap: 5px;
    border: .5px solid #4d4848;
    padding: 6px;
    position: fixed;
    margin-top: 50px;
    z-index: 2;

}

.btn {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 200;
    width: 120px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a {
    text-decoration: none;
    /* font-size: 18px; */
    font-weight: 600;
    color: #ffffff;

}

.home-btn.active {
    background-color: #e1e5ea;
    color: #0c0c0c;
}

.btn:hover {
    background-color: #e1e5ea;
    color: #0c0c0c;
}

/* text-effect */
/* second part  */


.about-me-box {
    /* min-height: 100vh; */
    margin-top: 220px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}
.about-me{
    width: auto;
    overflow: hidden;

}
.about-me-box img {
    width: 60px;
    position: absolute;
    top: 25%;
    left: 20%;
}


.about-me-box .about-me h1 {
    letter-spacing: 2px;
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    font-family: "Protest Revolution", sans-serif;
}
.about-me-box .about-me p {
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(231, 225, 225);
    font-size: 14px;
}


.about-me {
    width: auto;
     overflow: hidden;
}


.about-me .text{
    position: relative;
    color: #0f87ea;
    font-size: 50px;
    font-weight: 600;
    
}

.about-me .text.first-text {
    color: #fff;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
    border-left: 2px solid #0f87ea;
    animation: animated 4s steps(15) infinite;
}

@keyframes animated {
    40%, 60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0;
    }
}

.sub-heading {
    margin-top: 10px;
    color: #dedbdb;
    font-size: larger;
}

.sub-heading span{
    color: #0f87ea;
}


.social-media .about-me-btn {
    width: 110px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all;
}

.social-media a {
    /* letter-spacing: 2px; */
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    /* padding: 2px 5px; */
    /* box-shadow: 4px 4px 0px grey; */
}

.social-media .about-me-btn {
    box-shadow: 4px 4px 0px grey;

}

.social-media .about-me-btn:hover {
    box-shadow: 0px 0px 0px grey;

}
.social-icons {
    /* font-size: 18px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22px 20px;
    padding: 10px;

}

.social-media {
    display: inline-flex;

}

.fa-brands {
    font-size: 24px;
    margin: 0px 8px;
    transition: .3s all;
}
.fa-brands:hover {
    transform: translateY(-5px);
}







/* infinite scroll */



.text-roll-section {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.scroll{
    position: relative;
    display: flex;
    width: 700px;
    overflow: hidden;
    -webkit-mask-image:linear-gradient(90deg,transparent, #fff 30%,#fff 80%, transparent)
}

.scroll div{
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    /* animation-delay: calc(var(--t) * -1); */

}
.scroll div:nth-child(2){
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

@keyframes animate{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes animate2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}

.scroll div span{
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.scroll div span:hover{
    background: #0f87ea;
    cursor: pointer;
}

.imgbox img{
    max-width: 100px;
    scale: 0.8;
    filter: grayscale(1);
}

.imgbox:hover{
    filter: grayscale(0);
}



/* mouse wheel animation */



.field {
    margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 200px; */
    /* position: absolute */
}

.scroll-text {
    color: #fff;
    font-size: 9px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}
.mouse {
	width: 30px;
	height: 50px;
	border: 2px solid #dbd6d6;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 9px;
		height: 9px;
		position: absolute;
		top: 8px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #e20f0f;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

/* cards */

.card-container {
    display: flex;
    margin: 0;
}

.card {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    /* z-index: 1; */
   }
   
   .tools {
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   

